@import "@/scss/index.scss";

.list__artists {
  &-artist {
    margin-bottom: 20px !important;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    > div {
      width: 110px;
      height: 110px;
      background-position: center;
      background-size: cover;
      border-radius: 100px;
      margin: 0 auto;
    }

    > p {
      margin-top: 8px;
      text-align: center;
    }
  }
}
