@import "@/scss/index.scss";

.artist__page {
  &-slider {
    padding: 20px 40px;

    > h2 {
      font-size: 35px;
      border-bottom: 1px solid $border-primary;
      padding-bottom: 10px;
      margin-bottom: 50px;
    }
  }
}
