@import "@/scss/index.scss";

.avatar__update {
  border: 2px solid #9a9a9a;
  border-style: dashed;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .ui.image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
  }
}
