@import "@/scss/index.scss";

.profile {
  padding: 20px 40px;

  > h1 {
    font-size: 35px;
    border-bottom: 1px solid $border-primary;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;

    > div {
      display: flex;
      align-items: center;

      > span {
        margin-left: 20px;
        font-size: 20px;
      }
    }

    .ui.button {
      margin: 0;
      border-radius: 100px;
      background-color: white;
    }
  }
}
